<h1>{{title}}</h1>
<p>{{description}}</p>

<h2>Navegación</h2>

<ul>
    <li>
        <a href="/home">Ver todos los Productos</a>
    </li>
    <li>
        <a href="/api/products">Ver Productos (API JSON)</a>
    </li><li>
        <a href="/realTimeProducts">realTimeProducts</a>
    </li>
</ul>


<button>enviar mensaje</button>